<%= form_with(model: reserva) do |form| %>
  <% if reserva.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reserva.errors.count, "error") %> prohibited this reserva from being saved:</h2>

      <ul>
        <% reserva.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cliente_nome, style: "display: block" %>
    <%= form.text_field :cliente_nome %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :data_reserva, style: "display: block" %>
    <%= form.date_field :data_reserva %>
  </div>

  <div>
    <%= form.label :quarto_id, style: "display: block" %>
    <%= form.text_field :quarto_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
