<div id="<%= dom_id(reserva) %>">
  <p>
    <strong>Nome do Hóspede:</strong>
    <%= reserva.user.nome %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reserva.status %>
  </p>

  <p>
    <strong>Data da Reserva:</strong>
    <%= reserva.data_reserva.strftime("%d/%m/%Y") %>
  </p>

  <p>
    <strong>Quarto:</strong>
    <%= reserva.quarto.descricao %>
  </p>
</div>
