<div id="<%= dom_id reserva %>">
  <p>
    <strong>Cliente nome:</strong>
    <%= reserva.cliente_nome %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reserva.status %>
  </p>

  <p>
    <strong>Data reserva:</strong>
    <%= reserva.data_reserva %>
  </p>

  <p>
    <strong>Quarto:</strong>
    <%= reserva.quarto_id %>
  </p>

</div>
