<h1>Criar Novo Funcionário</h1>

<%= form_with(model: @funcionario, url: funcionarios_path(@funcionario),  local: true) do |form| %>
  <% if @funcionario.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@funcionario.errors.count, "error") %> prohibited this funcionario from being saved:</h2>
      <ul>
        <% @funcionario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :nome, class: "form-label" %>
    <%= form.text_field :nome, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :cpf, class: "form-label" %>
    <%= form.text_field :cpf, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :password_confirmation, class: "form-label" %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div>
    <%= form.submit "Criar Funcionário", class: "btn btn-primary" %>
  </div>
<% end %>

<br>

<div class="mb-4">
  <%= link_to "Voltar para funcionários", funcionarios_path, class: "btn btn-secondary" %>
</div>
